@model DataAccessLayer.Models.UserModel

@{
    ViewBag.Title = "Display";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Enter</title>
    <style>
        .info {
            font-size: 30px;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div style="background-color: white; border-radius: 3%; margin-left: 20%; margin-right: 20%; margin-top: 10%; padding: 10%; text-align: center">
        <p class="info">User Name: @Model.UserName</p> <br />
        <p class="info">Email Address: @Model.EmailAddress</p> <br />
        <p class="info">Password: @Model.Password</p> <br />
    </div>
</body>
</html>

